<div class="map">
  <img
    alt="Map image at coordinates X, Y"
    ...attributes
    src="https://media.istockphoto.com/vectors/city-urban-streets-roads-abstract-map-vector-id1137117479?k=20&m=1137117479&s=612x612&w=0&h=56n_1vX4IdhkyNZ0Xj6NfSPA0jZSwf6Ru2K68udk4H4="
  >
</div>